---
import type { Volume } from "../../modules/volumes/model";
import { renderVolumePre } from "../../modules/volumes/render";

type Props = {
  volume: Volume;
};

const volume = Astro.props.volume;
const volumeHtml = renderVolumePre(volume);
---

<section class="textmode-wrap volume-wrap">
  <pre class="textmode-pre volume-pre life-art" data-life-root set:html={volumeHtml}></pre>
</section>

<script>
  import { initLifeArt } from "../../modules/textmode/life/runtime";

  initLifeArt();
</script>
